dspy
langchain
langchain-classic
langchain-community
langchain-core
langchain-huggingface
langchain-mistralai
langchain-ollama
langchain-qdrant
langchain-text-splitters
qdrant-client==1.15.0
streamlit
icrawler
markdown-it-py
nltk
pytube
sentence_transformers
pypdf
elevenlabs
