dspy==3.0.3
langchain==1.2.12
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.19
langchain-huggingface
langchain-mistralai==1.1.2
langchain-ollama==1.0.1
langchain-qdrant==0.2.1
langchain-text-splitters==1.1.0
qdrant-client==1.15.0
streamlit==1.52.1